.card {
  display: "flex";
  flex-direction: "row";
  background-color: #f8f9fa; /* Light gray background */
  padding: 20px; /* Padding inside the card */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: box-shadow 0.3s ease; /* Smooth transition for hover effect */
  /* max-width: 800px; */
  margin: 10px;
  min-height: 150px;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7); /* Slightly deeper shadow on hover */
}
